<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.filippos.ims_interface">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Inventory Manager"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.HomepageActivity" />
        <activity
            android:name=".ui.activity.OrdersSubmenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ReportSubmenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AdminSubmenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OrdersActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.activity.AdminUsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AdminSuppliersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AdminProductsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AdminCategoriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddUsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ScanSubmenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ScanIncomingOrdersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ScanProductsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.AddProductsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ReportSalesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ReportSalesResultsActivity"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".ui.activity.ReportSalesSubmenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ReportTopProductsResultsActivity"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".ui.activity.ReportTopProductsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>